[Install]
WantedBy=multi-user.target

[Unit]
Description='Jupyter Dashboards Server'

[Service]
Type=simple
Environment="PUBLIC_LINK_PATTERN=http://{{ servername }}"
Environment="KERNEL_GATEWAY_URL=http://127.0.0.1:8888"
Environment="NOTEBOOKS_DIR=/srv/jupyter-dashboards/"
Environment="IP=0.0.0.0"
Environment="PORT=3000"
WorkingDirectory=/srv/jupyter-dashboards/
User={{ jupyter_user }}
Group={{ jupyter_group }}
ExecStart=/usr/bin/jupyter-dashboards-server
