[Unit]
Description='Jupyter Dashboards Server'

[Service]
Type=simple
Environment="KERNEL_GATEWAY_URL=http://127.0.0.1:8888 NOTEBOOKS_DIR=/srv/jupyter-dashboards/ IP=0.0.0.0 PORT=3000"
WorkingDirectory=/srv/jupyter-dashboards/
User=ubuntu
Group=ubuntu
ExecStart=/usr/local/bin/jupyter-dashboards-server
