from .common import *

MEDIA_URL = "{{ taiga_http_scheme }}://{{ taiga_domain }}/media/"
STATIC_URL = "{{ taiga_http_scheme }}://{{ taiga_domain }}/static/"
SITES["front"]["scheme"] = "{{ taiga_http_scheme }}"
SITES["front"]["domain"] = "{{ taiga_domain }}"

SECRET_KEY = "{{ taiga_secret_key.stdout }}"

DEBUG = False
CELERY_ENABLED = True
PUBLIC_REGISTER_ENABLED = True

DEFAULT_FROM_EMAIL = "{{ taiga_from_email }}"
SERVER_EMAIL = DEFAULT_FROM_EMAIL

EVENTS_PUSH_BACKEND = "taiga.events.backends.rabbitmq.EventsPushBackend"
EVENTS_PUSH_BACKEND_OPTIONS = {"url": "amqp://taiga:{{ rabbitmq_password.stdout }}@localhost:5672/taiga"}

# Uncomment and populate with proper connection parameters
# for enable email sending. EMAIL_HOST_USER should end by @domain.tld
#EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
#EMAIL_USE_TLS = False
#EMAIL_HOST = "localhost"
#EMAIL_HOST_USER = ""
#EMAIL_HOST_PASSWORD = ""
#EMAIL_PORT = 25

# Uncomment and populate with proper connection parameters
# for enable github login/singin.
#GITHUB_API_CLIENT_ID = "yourgithubclientid"
#GITHUB_API_CLIENT_SECRET = "yourgithubclientsecret"