    location /phpmyadmin {
        alias {{ phpmyadmin_dir }}/;    
        index index.php index.html index.htm;
    }
    location ~ ^/phpmyadmin/(.+\.php)$ {
        alias {{ phpmyadmin_dir }}/$1;
        fastcgi_param DOCUMENT_ROOT {{ phpmyadmin_dir }};
        fastcgi_pass unix:{{ php_fpm_socket }};
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $request_filename;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param QUERY_STRING $query_string;
        include fastcgi_params;
    }   
            
    location ~* ^/phpmyadmin/(.+\.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt))$ { 
        alias {{ phpmyadmin_dir }}/$1;
    }  
