pid_file /var/run/mosquitto.pid

persistence true
persistence_location /var/lib/mosquitto/
allow_anonymous false
password_file /etc/mosquitto/passwd
{% if item.use_https %}
cafile = /etc/mosquitto/{{ item.servername }}_ca.crt
certfile = /etc/mosquitto/{{ item.servername }}.crt
keyfile = /etc/mosquitto/{{ item.servername }}.key
require_certificate false
{% endif %}

log_dest file /var/log/mosquitto/mosquitto.log

include_dir /etc/mosquitto/conf.d
